# Compiled Object files
*.slo
*.lo
*.o
*.d
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll
*.dSYM

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# personal notes
todo.md

# from g++
emerald
emerald_test
emerald.DSYM

# From pip
dist/
Emerald.egg-info/
